.projectSection {
    width: 100%;
    height: 900px;
    position: relative;

    /* padding: 100px 6% 0; */
    padding: 100px 12% 100px;
    color: var(--main-color);

    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) ) 100% 1;
    border-top: none;
}

.projectContainer {
    display: flex;

    width: 100%;
    height: 100%;
}

.leftSection {
    height: 100%;

    display: flex;
    flex: 1;

    flex-direction: column;
    margin: 10px;
    opacity: 0;
}

.moveDownAnimation {
    animation: moveDown 1s ease forwards;
    animation-delay: calc(1s * var(--i));
    transition: 0.5s
}

@keyframes moveDown {
    0% {
        opacity: 0.5 ;
        transform: translateY(-150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.moveUpAnimation {
    animation: moveUp 1s ease forwards;
    animation-delay: calc(.8s * var(--i));
}

@keyframes moveUp {
    0% {
        opacity: 0.5;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.middleSection {
    height: 100%;

    display: flex;
    flex: 1;

    opacity: 0;
    flex-direction: column;
    border-bottom: 2px dashed var(--main-color);
    margin: 0 10px;
}

.leftSection .projectHeading {
    border-bottom: 2px dashed var(--main-color);
    margin-bottom: 10px;
}
.leftSection .projectHeading p{
    font-size: 18px;
    margin-bottom: 4px;
    color: #0e2431d2;

}

.leftSection .projectHeading h4{
    font-size: 40px;
    font-weight: 600;

    color: var(--main-color);
    margin-bottom: 16px;
}

.rightSection {
    height: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;

    opacity: 0;
    margin: 70px 10px 0;
    border-top: 2px dashed var(--main-color);
}

.projectCard {
    width: 100%;

    border: 1px solid #0e243126;

    overflow: hidden;
    border-radius: 8px;
    margin: 18px 0;

    position: relative;
    cursor: pointer;
}

.projectContentAnimation {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgba(0, 0, 0, 0.878));
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;


    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    color: var(--primary-color);
}

.projectCard:hover .projectContentAnimation {
    opacity: 1;
    transform: translateY(0);
}

.imgContainer {
    width: 100%;

}

.imgContainer img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.projectContent {
    padding: 18px;
    /* background: var(--main-color);
    color: var(--primary-color); */
}

.projectContent h4{
    
    font-size: 20px;
    margin-bottom: 4px;
}

.projectContent p {
    /* color: #ffffffb5; */
    font-size: 12px;
    font-weight: 300;
}

.projectCard .links {
    width: 100%;
    font-size: 12px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    margin-top: 10px;

    font-size: 14px;
}

.tagContainer .tag {
    background: rgb(105, 104, 105);
    padding: 4px 10px;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 11px;
    margin-right: 6px;
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .projectSection {
        height: auto;
    }
    .projectContainer {
        flex-direction: column;
    }
    .leftSection .projectHeading h4{
        font-size: 30px;
    }
    .rightSection {
        margin-top: 24px;
    }
}